/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/* --------------------------------
---------- Camille's CSS ----------
-------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@font-face {
    font-family: 'odin_roundedbold';
    src: url('../fonts/odin_rounded_-_bold-webfont.eot');
    src: url('../fonts/odin_rounded_-_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/odin_rounded_-_bold-webfont.woff2') format('woff2'),
         url('../fonts/odin_rounded_-_bold-webfont.woff') format('woff'),
         url('../fonts/odin_rounded_-_bold-webfont.ttf') format('truetype'),
         url('../fonts/odin_rounded_-_bold-webfont.svg#odin_roundedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'pinzey';
  src:url('../fonts/pinzey.eot?rqr9ro');
  src:url('../fonts/pinzey.eot?rqr9ro#iefix') format('embedded-opentype'),
    url('../fonts/pinzey.ttf?rqr9ro') format('truetype'),
    url('../fonts/pinzey.woff?rqr9ro') format('woff'),
    url('../fonts/pinzey.svg?rqr9ro#pinzey') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"], #logo:before, #existing_album:after, #new_album:after, .rfeFileExtension.folder:before, body .RadTreeView_Default .rtPlus:before, body .RadTreeView_Default .rtMinus:before, .RadFileExplorer .RadToolBar .icnUpload .rtbText:before,
.RadFileExplorer .RadToolBar .icnDelete .rtbText:before, .RadFileExplorer .RadToolBar .icnNewFolder .rtbText:before, .RadFileExplorer .RadToolBar .icnGridView .rtbText:before, .RadFileExplorer .RadToolBar .icnThumbnailsView .rtbText:before, .RadFileExplorer .RadToolBar .icnRefresh .rtbText:before, .RadFileExplorer .RadToolBar .icnOpen .rtbText:before, .RadFileExplorer .RadToolBar .icnNewFolder .rtbText:before, .RadFileExplorer .RadToolBar .icnForward .rtbText:before, .RadFileExplorer .RadToolBar .icnBack .rtbText:before,
.RadWindow .rwCloseButton:before,
.RadAsyncUpload span.ruFileWrap:after,
.RadUpload .ruUploadSuccess:before,
.payment #MainContent_ButtonSubmit:after,
.RadFileExplorer .jpg:before, .RadFileExplorer .jpeg:before, .RadFileExplorer .jpe:before,
.RadFileExplorer .rfeThumbnailView .rfeFile .rfeFileIcon:before {
  font-family: 'pinzey';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.RadFileExplorer .RadToolBar .icnRefresh .rtbText:before,
.icon-replay:before { content: "\e800"; }
#existing_album:after,
#new_album:after,
.RadFileExplorer .RadToolBar .icnForward .rtbText:before,
.payment #MainContent_ButtonSubmit:after,
.icon-arrow-right:before { content: "\e82d"; }
.RadFileExplorer .RadToolBar .icnBack .rtbText:before,
.icon-arrow-left:before { content: "\e82e"; }
.icon-arrow-down:before { content: "\e82f"; }
.icon-arrow-up:before { content: "\e830"; }
.icon-file-add:before { content: "\e801"; }
.icon-file:before { content: "\e802"; }
.icon-video:before { content: "\e803"; }
.RadFileExplorer .jpg:before, .RadFileExplorer .jpeg:before, .RadFileExplorer .jpe:before,
.icon-image:before { content: "\e804"; }
.icon-camera:before { content: "\e805"; }
.icon-plus:before { content: "\e806"; }
.icon-file-add2:before { content: "\e807"; }
.rfeFileExtension.folder:before,
.icon-folder:before { content: "\e837"; }
.icon-cloud-upload:before { content: "\e809"; }
.icon-mail:before { content: "\e80a"; }
.RadWindow .rwCloseButton:before,
.icon-cross:before { content: "\e80b"; }
.icon-menu:before { content: "\e80c"; }
.icon-search:before { content: "\e80d"; }
.icon-pencil:before { content: "\e80e"; }
.icon-social-linkedin:before { content: "\e80f"; }
.icon-social-pinterest:before { content: "\e810"; }
.icon-social-tumbler:before { content: "\e811"; }
.icon-social-vimeo:before { content: "\e812"; }
.icon-social-dribbble:before { content: "\e813"; }
.icon-social-facebook:before { content: "\e814"; }
.icon-social-twitter:before { content: "\e815"; }
.icon-add-user:before { content: "\e816"; }
.icon-remove-user:before { content: "\e817"; }
.icon-users:before { content: "\e818"; }
.RadFileExplorer .RadToolBar .icnDelete .rtbText:before,
.RadAsyncUpload span.ruFileWrap:after,
.icon-trashcan:before { content: "\e819"; }
#logo:before,
.icon-pinzey:before { content: "\e81a"; }
.icon-volume-decrease:before { content: "\e81b"; }
.icon-volume-increase:before { content: "\e81c"; }
.icon-volume-mute:before { content: "\e81d"; }
.icon-volume-high:before { content: "\e81e"; }
.icon-last:before { content: "\e81f"; }
.icon-first:before { content: "\e820"; }
.icon-forward:before { content: "\e821"; }
.icon-backward:before { content: "\e822"; }
.icon-stop:before { content: "\e823"; }
.icon-pause:before { content: "\e824"; }
.icon-play:before { content: "\e825"; }
.RadFileExplorer .RadToolBar .icnUpload .rtbText:before,
.icon-folder-upload:before { content: "\e826"; }
.icon-reddit:before { content: "\e827"; }
.icon-blogger:before { content: "\e828"; }
.icon-github:before { content: "\e829"; }
.icon-youtube:before { content: "\e82a"; }
.icon-instagram:before { content: "\e82b"; }
.icon-google-plus:before { content: "\e82c"; }
.RadFileExplorer .RadToolBar .icnThumbnailsView .rtbText:before,
.icon-grid:before { content: "\e807"; font-size: 34px; }
.icon-share:before { content: "\e808"; }
.icon-minus:before { content: "\e831"; }
.RadFileExplorer .RadToolBar .icnGridView .rtbText:before,
.icon-list:before { content: "\e832"; }
.icon-folder-download:before { content: "\e833"; }
body .RadTreeView_Default .rtMinus:before,
.icon-folder-minus:before { content: "\e834"; }
.RadFileExplorer .RadToolBar .icnNewFolder .rtbText:before,
.RadTreeView_Default .rtPlus:before,
.icon-folder-plus:before { content: "\e835"; }
.RadFileExplorer .RadToolBar .icnOpen .rtbText:before,
.RadFileExplorer .rfeThumbnailView .rfeFile .rfeFileIcon:before,
.icon-folder-open:before { content: "\e836"; }
.RadUpload .ruUploadSuccess:before,
.icon-check:before { content: "\e838"; }

/* ----- Global ----- */

* { padding: 0; margin: 0; }
a {
  color: #a05366;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
a:hover, a:active, a:focus, *:focus { text-decoration: none; outline: 0; }
body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  background: #f0586f;
  background: -moz-linear-gradient(45deg,  #f0586f 0%, #452f41 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f0586f), color-stop(100%,#452f41));
  background: -webkit-linear-gradient(45deg,  #f0586f 0%,#452f41 100%);
  background: -o-linear-gradient(45deg,  #f0586f 0%,#452f41 100%);
  background: -ms-linear-gradient(45deg,  #f0586f 0%,#452f41 100%);
  background: linear-gradient(45deg,  #f0586f 0%,#452f41 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0586f', endColorstr='#452f41',GradientType=1 );
}
a,
button,
.button,
input[type="submit"] { cursor: pointer; }

/* ----- Header ----- */

body .navbar-inverse { background-color: transparent; border: none; }
header { position: fixed; top: 0; width: 100%; z-index: 1; }
#logo {
  color: #fff;
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 100%;
  top: 21px; left: 0;
}
#logo strong { display: none; }
#logo:before { font-size: 50px; padding-left: 24px; }
.gnav { float: right; display: inline-block; margin: 0; padding: 0; }
.gnav li { list-style: none outside none; margin: 0 0 0 7px; float: left; }
body .gnav li a,
body .navbar-inverse .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.8);
  padding: 7px 18px 12px;
}
body .navbar-inverse .navbar-nav > li:last-child > a { padding-right: none; }

/* ----- Top ----- */

.home {
  position: absolute;
  top: 0; left: 0;
  width: 100%; max-width: 100%;
}
.body-content { padding-top: 100px; }
#top { color: #fff; position: relative; width: 100%; height: 100vh; }
.left {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 50%; height: 100%;
  float: left;
  background: #f99f2a; /* fallback for old browsers */
  background: -moz-linear-gradient(45deg,  #f99f2a 0%, #f0586f 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f99f2a), color-stop(100%,#f0586f));
  background: -webkit-linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  background: -o-linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  background: -ms-linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  background: linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99f2a', endColorstr='#f0586f',GradientType=1 );
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.right {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 50%; height: 100%;
  float: left;
  background: #a05366; /* fallback for old browsers */
  background: -moz-linear-gradient(45deg,  #a05366 0%, #452f41 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#a05366), color-stop(100%,#452f41));
  background: -webkit-linear-gradient(45deg,  #a05366 0%,#452f41 100%);
  background: -o-linear-gradient(45deg,  #a05366 0%,#452f41 100%);
  background: -ms-linear-gradient(45deg,  #a05366 0%,#452f41 100%);
  background: linear-gradient(45deg,  #a05366 0%,#452f41 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a05366', endColorstr='#452f41',GradientType=1 );
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#top:hover .left,
#top:hover .right { width: 30%; }
#top:hover .left:hover,
#top:hover .right:hover { width: 70%; }

.left h2,
.right h2 { margin-top: 30vh; }

/* -- Headings -- */

h1,
h2,
h3,
h4 {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin-bottom: 21px;
  display: inline-block;
}
h2 { font-size: 40px; }
h4 { font-weight: normal; font-size: 21px; }

/* -- Forms -- */

form { color: #7e7e7e; }
input {
  color: #7e7e7e;
  padding: 14px 21px;
  border: 1px solid #a7a9ac;
  border-radius: 28px;
  font-size: 16px;
  margin-bottom: 21px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
input:focus { border: 1px solid #5fc3b0; }
input[type="checkbox"], input[type="radio"] { float: left; width: auto; margin-top: 0; margin-right: 6px; }
input[type="submit"] {
  color: #A05366;
  display: inline-block;
  border: none;
  width: auto;
  padding: 14px 42px;
  border-radius: 28px;
  background: #fff;
  position: relative;
}
input[type="submit"]:after {
  position: absolute: content: "";
  right: -14px; top: 14px;
}
input[type="submit"]:hover:after { right: 21px; }
input[type="submit"]:focus,
input[type="submit"]:active { outline: none; box-shadow: none; border: none; }
.forgot { font-style: italic; color: #7f7f7f; font-size: 12px; }

#existing_album,
#new_album { position: relative; width: 50%; display: block; margin: 0 auto; }
#existing_album input,
#new_album input {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  padding-left: 0;
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}
.home input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.8); }
.home input:-moz-placeholder { color: rgba(255, 255, 255, 0.8); }
.home input::-moz-placeholder { color: rgba(255, 255, 255, 0.8); }
.home input:-ms-input-placeholder { color: rgba(255, 255, 255, 0.8); }
#existing_album input[type="submit"],
#new_album input[type="submit"] {
  color: rgba(255, 255, 255, 0.8);
  top: 0; right: 0; left: auto;
  width: auto;
  float: right;
  padding: 14px 28px;
  background: transparent;
  z-index: 10;
  opacity: 0;
}
#existing_album:after,
#new_album:after {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 8px; right: 21px;
  font-size: 28px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.left:hover #existing_album:after,
.right:hover #new_album:after { opacity: 1; }
#existing_album:hover:after,
#new_album:hover:after { right: 14px; }
.left .error,
.right .error,
#MainContent_LabelLoginError,
#MainContent_LabelErrorMessage {
  display: inline-block;
  clear: both;
  width: 100%; text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4) !important;
  font-size: 21px;
}
#MainContent_LabelErrorMessage,
.error h3 { margin-top: 70px; }

/* ----- Account Settings ----- */

.account_settings,
.set_password {
  display: inline-block;
  width: 100%;
  background: #f99f2a; /* fallback for old browsers */
  background: -moz-linear-gradient(45deg,  #f99f2a 0%, #f0586f 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f99f2a), color-stop(100%,#f0586f));
  background: -webkit-linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  background: -o-linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  background: -ms-linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  background: linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
}
.set_password h4,
.account_settings h4 { margin: 28px 0 0 28px; }
.set_password .white_container,
.account_settings .dl-horizontal {
  padding: 28px;
  margin: 28px -28px 28px 28px;
  background: #fff;
  -webkit-box-shadow: -3px 3px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: -3px 3px 10px 0px rgba(0,0,0,0.3);
  box-shadow: -3px 3px 10px 0px rgba(0,0,0,0.3);
}
body dt { font-weight: normal; margin-bottom: 18px; text-transform: uppercase; }
.account_settings .dl-horizontal dt { width: 180px; }
.account_settings .dl-horizontal dd { margin-left: 200px; }

.set_password label {
  clear: both;
  text-align: left !important;
  width: 100%;
  font-weight: normal;
  text-transform: uppercase;
}
.set_password input {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid #a7a9ac;
}
.set_password input:focus { border: none; border-bottom: 2px solid #a7a9ac; box-shadow: none; }
.set_password .col-md-10 { width: 100%; margin: 0; }
.set_password .form-group { margin-bottom: 0; }
.set_password input[type="submit"] {
  color: rgba(255, 255, 255, 0.8);
  background: transparent;
  margin: 0 56px 28px;
  width: auto;
  float: right;
  font-size: 24px;
  border-bottom: none;
  text-align: right;
  padding: 0 0 0 21px;
}
.set_password input[type="submit"]:hover { color: rgba(255, 255, 255, 0.6); background: transparent; }

.manage_logins p { color: rgba(255, 255, 255, 0.8); }
.manage_logins p a { color: #f99f2a; }


/* ----- Payment Processing ----- */

.payment { max-width: 560px; background: #fff; border-radius: 21px; margin: 0 auto; position: relative; }
.payment h3 {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  padding: 21px 5%;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  background: #f99f2a; /* fallback for old browsers */
  background: -moz-linear-gradient(45deg,  #f99f2a 0%, #f0586f 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f99f2a), color-stop(100%,#f0586f));
  background: -webkit-linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  background: -o-linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  background: -ms-linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  background: linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99f2a', endColorstr='#f0586f',GradientType=1 );
}
.payment .select {
  width: 43%;
  display: inline-block;
  margin-left: 5%;
  color: #7e7e7e;
  border: 1px solid #a7a9ac;
  border-radius: 28px;
}
.payment .select select {
  width: 120%;
  background: transparent;
   line-height: 1;
   border: 0;
   font-size: 18px;
   font-size: 1.28rem;
   border-radius: 0;
   height: 50px;
   padding: 14px 21px;
   color: #7e7e7e;
   -webkit-appearance: none;
}
.payment input { width: 26%; margin-top: 21px; margin-left: 5%; padding: 14px 3%; }
.payment #MainContent_TextBoxExpirationYear { clear: left; }
.payment #MainContent_TextBoxCardNumber { width: 44%; margin-left: 2%; }
.payment #MainContent_ButtonSubmit {
  position: absolute;
  width: auto;
  padding: 14px 28px;
  bottom: -90px; right: 0;
}
.payment #MainContent_ButtonSubmit:hover { background: rgba(255, 255, 255, 0.6); }


/* ----- File Mananger ----- */

body .RadFileExplorer {
  display: block;
  margin: 0 auto;
  background: #fff;
  border: none;
  clear: both;
  width: 100% !important;
}
.RadToolBar_Default { font-family: 'Open Sans', sans-serif; background-color: transparent; }
body .RadToolBar_Default .rtbOuter { background: #F9FAFC; background-image: none; box-shadow: none; border: none; padding: 0; }
body .RadSplitter .rspPane {  }
body .RadSplitter .rspResizeBar { border-left: none; width: 1px; }
body .RadSplitter .rspResizeBar input { display: none; }
body .rfeFileExtension.folder,
body .RadTreeView_Default .rtPlus,
body .RadTreeView_Default .rtMinus,
body .RadFileExplorer .RadToolBar .icnUpload .rtbText,
body .RadFileExplorer .RadToolBar .icnDelete .rtbText,
body .RadFileExplorer .RadToolBar .icnNewFolder .rtbText,
body .RadFileExplorer .RadToolBar .icnGridView .rtbText,
body .RadToolBar_Default .rtbSplBtnExpanded .rtbWrap,
body .RadToolBar_Default .rtbSplBtnExpanded .rtbOut,
body .RadToolBar_Default .rtbSplBtnExpanded .rtbMid,
body .RadToolBar_Default .rtbSplBtnExpanded .rtbIn,
body .RadToolBar_Default .rtbDropDownExpanded .rtbWrap,
body .RadToolBar_Default .rtbDropDownExpanded .rtbOut,
body .RadToolBar_Default .rtbDropDownExpanded .rtbMid,
body .RadToolBar_Default .rtbDropDownExpanded .rtbIn,
body .RadToolBar_Default .rtbChecked .rtbWrap,
body .RadToolBar_Default .rtbChecked .rtbOut,
body .RadToolBar_Default .rtbChecked .rtbMid,
body .RadToolBar_Default .rtbChecked .rtbIn,
body .RadFileExplorer .RadToolBar .icnRefresh .rtbText,
body .RadFileExplorer .RadToolBar .icnOpen .rtbText,
body .RadFileExplorer .RadToolBar .icnThumbnailsView .rtbText,
body .RadFileExplorer .RadToolBar .icnForward .rtbText,
body .RadFileExplorer .RadToolBar .icnBack .rtbText,
body .RadButton_Default.rbSkinnedButton,
body .RadSplitter_Default .rspResizeBar,
body .RadFileExplorer .jpg,
body .RadFileExplorer .jpeg,
body .RadFileExplorer .jpe,
body .RadFileExplorer .rfeThumbnailView .rfeFile .rfeFileIcon { font-size: 14px; background: none; padding: 0 !important; }
body .RadTreeView_Default .rtPlus,
body .RadTreeView_Default .rtMinus { margin-top: 0; width: 14px; height: 14px; }
.RadFileExplorer .RadToolBar .icnUpload .rtbText:before { margin-right: 4px; }
body .RadWindow .rwIcon { display: none; }

body .RadToolBar_Default .rtbItemHovered * { background: none !important; border: none !important; }

body .RadFileExplorer .rfeFileExtension:before { margin-right: 5px; }

body .RadGrid_Default .rgMasterTable .rgSelectedCell,
body .RadGrid_Default .rgSelectedRow { color: #444444; background: #E6E7E8; background-image: none; }
body .RadToolBar_Horizontal .rtbItem,
body .RadToolBar_Horizontal .rtbItem:first-child { margin-left: 28px; }
body .RadFileExplorer .RadToolBar .rtbInner { height: auto; min-height: 32px; padding: 7px 0;
  background: -moz-linear-gradient(45deg,  #f99f2a 0%, #f0586f 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f99f2a), color-stop(100%,#f0586f));
  background: -webkit-linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  background: -o-linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  background: -ms-linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  background: linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99f2a', endColorstr='#f0586f',GradientType=1 );
}
body .rtbItem span, body .rtbItem span:before { font-size: 24px; color: rgba(255, 255, 255, 0.8); }
body .RadTreeView_Default .rtSelected .rtIn,
body .RadGrid_Default .rgHeader,
body .RadGrid .rgRow:nth-child(even) { color: inherit; background-color: #e5e5e5; border: none; background-image: none; }
body .RadGrid_Default .rgHoveredRow { background: inherit; }

/* - File Upload - */
body .rfeUploadContainer { margin: 5%; width: 90%; }
body .RadWindow .rwTitlebarControls { color: #fff; background: #A05366; }
body .RadWindow .rwTitlebarControls td { padding: 10px; }
body .RadWindow_Default .rwTable .rwTitlebarControls em { color: #fff; font-size: 18px; font-weight: normal; padding: 4px 0 0; }
body .RadWindow .rwTitlebarControls td:first-child,
body .RadWindow_Default .rwTopResize,
body .RadWindow .rwCorner,
body .RadWindow_Default .rwFooterCenter { display: none; }
body .RadWindow .rwCloseButton,
body .RadWindow_Default .rwTitlebar,
body .RadWindow .rwControlButtons a { background-image: none; }
body .RadWindow .rwCloseButton { color: #fff; text-indent: 0 !important; cursor: pointer !important; }
body .RadWindow .rwCloseButton:before {
  display: inline-block;
  width: 21px; height: 21px;
  font-size: 21px;

}
body .RadButton .rbDecorated,
body .RadUpload_Default .ruButton {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  background: #A05366;
  background-image: none;
  border: none;
  height: auto;
  width: auto;
  cursor: pointer;
  border-radius: 3px;
  padding: 7px 21px;
}
/*body .RadUpload .ruUploadSuccess { background-image: url('../fonts/check.svg'); background-position: left center; }
body .RadUpload .ruRemove { margin-bottom: 0; background-image: url('../fonts/cross.svg'); background-position: left center; }*/
body .RadUpload .ruRemove,
body .RadUpload .ruInputs li input[type="button"] { opacity: 0; z-index: 1; }
body .RadUpload .ruInputs li:last-child input[type="button"] { opacity: 1; }
body .RadUpload .ruFileWrap { overflow: visible !important; }
.RadAsyncUpload span.ruFileWrap:after { right: -14px; top: 5px; position: absolute; }
body .rfeUploadContainer .RadUpload .ruInputs li:last-child span.ruFileWrap:after { display: none; }
body .RadUpload .ruUploadSuccess { background-image: none; }
.RadUpload .ruUploadSuccess:before { color: green; position: absolute; top: 5px; left: 0; }
body .RadSplitter_Default *:before { color: #666; }

body .RadFileExplorer .rfeThumbnailView .rlvI { width: 100px; }
body .RadFileExplorer_Default .rfeThumbList .rfeSelectedLink,
body .RadFileExplorer_Default .rfeThumbList .rfeSelectedLink:hover,
body .RadFileExplorer_Default .rfeThumbList .rfeLink:hover,
body .RadTreeView_Default .rtHover .rtIn { color: inherit; border: none; background-color: transparent; background-image: none; }
body .RadFileExplorer .rfeThumbnailView .rfeFile,
body .RadFileExplorer .rfeThumbnailView .rfeImageFile img { width: 100px; height: auto; max-height: 100px; }
body .RadFileExplorer .rfeThumbnailView .rfeImageFile img { height: 100px; }
body .RadFileExplorer .rfeThumbList { margin: 0; }
body .RadFileExplorer .rfeThumbList a,
body .RadFileExplorer .rfeThumbList a:hover { padding: 0; margin: 0; border: none; }
body .RadFileExplorer .RadTreeView .rtHover .rtIn { padding: 1px 4px 0 3px!important; border: 1px solid transparent !important; }

body .RadFileExplorer .rfeThumbnailView .rfeFile { min-width: 40px; min-height: 40px; }
body .RadFileExplorer .rfeThumbnailView .rfeFile .rfeFileIcon { background-image: none !important; font-size: 40px; }

body .RadWindow_Default img { width: 100%; height: auto; }


/* ----- Media Queries ----- */

@media (min-width: 1200px) {
  .body-content { max-width: 50%; }
}
@media (max-width: 940px) {
  .left h2,
  .right h2 { max-width: 80%; }
  #existing_album,
  #new_album { width: 70%; left: 5%; }
  #existing_album input,
  #new_album input { width: 100%; margin-left: -21px; }
  #existing_album:after,
  #new_album:after { right: 40px; }
  #existing_album:hover:after,
  #new_album:hover:after { right: 32px; }
}
@media (max-width: 655px) {
  #existing_album,
  #new_album { left: 7%; }
}
@media (max-width: 500px) {
  .left,
  .right { width: 100%; float: none; clear: both; }
  #top:hover .left,
  #top:hover .right,
  #top:hover .left:hover,
  #top:hover .right:hover { width: 100%; }
  .left { height: 60vh; }
  .right { height: 40vh; }
  .left h2 { margin-top: 20vh; }
  .right h2 { margin-top: 10vh; }
  .gnav li a { padding: 7px 14px 12px; }
  .modal { padding: 60px; margin-left: -160px; }
  #existing_album, #new_album { left: 5%; }
}