/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/* --------------------------------
---------- Camille's CSS ----------
-------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@font-face {
    font-family: 'odin_roundedbold';
    src: url('../fonts/odin_rounded_-_bold-webfont.eot');
    src: url('../fonts/odin_rounded_-_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/odin_rounded_-_bold-webfont.woff2') format('woff2'),
         url('../fonts/odin_rounded_-_bold-webfont.woff') format('woff'),
         url('../fonts/odin_rounded_-_bold-webfont.ttf') format('truetype'),
         url('../fonts/odin_rounded_-_bold-webfont.svg#odin_roundedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'pinzey';
  src:url('../fonts/pinzey.eot?yo3at3');
  src:url('../fonts/pinzey.eot?yo3at3#iefix') format('embedded-opentype'),
    url('../fonts/pinzey.ttf?yo3at3') format('truetype'),
    url('../fonts/pinzey.woff?yo3at3') format('woff'),
    url('../fonts/pinzey.svg?yo3at3#pinzey') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"], #logo:before, #existing_album:after, #new_album:after {
  font-family: 'pinzey';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-replay:before { content: "\e800"; }
#existing_album:after,
#new_album:after,
.icon-arrow-right:before { content: "\e82d"; }
.icon-arrow-left:before { content: "\e82e"; }
.icon-arrow-down:before { content: "\e82f"; }
.icon-arrow-up:before { content: "\e830"; }
.icon-file-add:before { content: "\e801"; }
.icon-file:before { content: "\e802"; }
.icon-video:before { content: "\e803"; }
.icon-image:before { content: "\e804"; }
.icon-camera:before { content: "\e805"; }
.icon-plus:before { content: "\e806"; }
.icon-file-add2:before { content: "\e807"; }
.icon-folder:before { content: "\e808"; }
.icon-cloud-upload:before { content: "\e809"; }
.icon-mail:before { content: "\e80a"; }
.icon-cross:before { content: "\e80b"; }
.icon-menu:before { content: "\e80c"; }
.icon-search:before { content: "\e80d"; }
.icon-pencil:before { content: "\e80e"; }
.icon-social-linkedin:before { content: "\e80f"; }
.icon-social-pinterest:before { content: "\e810"; }
.icon-social-tumbler:before { content: "\e811"; }
.icon-social-vimeo:before { content: "\e812"; }
.icon-social-dribbble:before { content: "\e813"; }
.icon-social-facebook:before { content: "\e814"; }
.icon-social-twitter:before { content: "\e815"; }
.icon-add-user:before { content: "\e816"; }
.icon-remove-user:before { content: "\e817"; }
.icon-users:before { content: "\e818"; }
.icon-trashcan:before { content: "\e819"; }
#logo:before,
.icon-pinzey:before { content: "\e81a"; }
.icon-volume-decrease:before { content: "\e81b"; }
.icon-volume-increase:before { content: "\e81c"; }
.icon-volume-mute:before { content: "\e81d"; }
.icon-volume-high:before { content: "\e81e"; }
.icon-last:before { content: "\e81f"; }
.icon-first:before { content: "\e820"; }
.icon-forward:before { content: "\e821"; }
.icon-backward:before { content: "\e822"; }
.icon-stop:before { content: "\e823"; }
.icon-pause:before { content: "\e824"; }
.icon-play:before { content: "\e825"; }
.icon-folder-upload:before { content: "\e826"; }
.icon-reddit:before { content: "\e827"; }
.icon-blogger:before { content: "\e828"; }
.icon-github:before { content: "\e829"; }
.icon-youtube:before { content: "\e82a"; }
.icon-instagram:before { content: "\e82b"; }
.icon-google-plus:before { content: "\e82c"; }

/* ----- Global ----- */

* { padding: 0; margin: 0; }
a {
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
a:hover, a:active, a:focus, *:focus { text-decoration: none; outline: 0; }
body { position: relative; font-family: 'Open Sans', sans-serif; min-height: 100vh; }
a,
button,
.button,
input[type="submit"] { cursor: pointer; }

/* ----- Header ----- */

body .navbar-inverse { background-color: transparent; border: none; }
header { position: fixed; top: 0; width: 100%; z-index: 1; }
#logo {
  color: #fff;
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 100%;
  top: 21px; left: 0;
}
#logo strong { display: none; }
#logo:before { font-size: 50px; padding-left: 24px; }
.gnav { float: right; display: inline-block; margin: 0; padding: 0; }
.gnav li { list-style: none outside none; margin: 0 0 0 7px; float: left; }
body .gnav li a,
body .navbar-inverse .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.8);
  padding: 7px 28px 12px;
}
body .navbar-inverse .navbar-nav > li:last-child > a { padding-right: none; }

/* ----- Top ----- */

body .container.body-content { width: 100%; max-width: 100%; }
#top { color: #fff; position: relative; width: 100%; height: 100vh; }
.left {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 50%; height: 100%;
  float: left;
  background: #f99f2a; /* fallback for old browsers */
  background: -moz-linear-gradient(45deg,  #f99f2a 0%, #f0586f 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f99f2a), color-stop(100%,#f0586f));
  background: -webkit-linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  background: -o-linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  background: -ms-linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  background: linear-gradient(45deg,  #f99f2a 0%,#f0586f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99f2a', endColorstr='#f0586f',GradientType=1 );
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.right {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 50%; height: 100%;
  float: left;
  background: #a05366; /* fallback for old browsers */
  background: -moz-linear-gradient(45deg,  #a05366 0%, #452f41 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#a05366), color-stop(100%,#452f41));
  background: -webkit-linear-gradient(45deg,  #a05366 0%,#452f41 100%);
  background: -o-linear-gradient(45deg,  #a05366 0%,#452f41 100%);
  background: -ms-linear-gradient(45deg,  #a05366 0%,#452f41 100%);
  background: linear-gradient(45deg,  #a05366 0%,#452f41 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a05366', endColorstr='#452f41',GradientType=1 );
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#top:hover .left,
#top:hover .right { width: 30%; }
#top:hover .left:hover,
#top:hover .right:hover { width: 70%; }

.left h2,
.right h2 { margin-top: 30vh; }

/* -- Headings -- */

h1,
h2,
h3,
h4 { font-family: 'Open Sans', sans-serif; font-weight: normal; margin-bottom: 21px; display: inline-block; }
h2 { font-size: 40px; }
h4 { font-weight: normal; font-size: 21px; }

/* -- Forms -- */

form { color: #7e7e7e; }
input {
  color: #7e7e7e;
  padding: 14px 21px;
  width: 100%;
  border: 1px solid #a7a9ac;
  border-radius: 28px;
  font-size: 16px;
  margin-bottom: 21px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
input:focus { border: 1px solid #5fc3b0; }
input[type="submit"] {
  color: #fff;
  border: none;
  padding: 14px 0;
  width: 100%;
  border-radius: 28px;
  background: #5fc3b0;
  position: relative;
}
input[type="submit"]:after {
  position: absolute: content: "";
  right: -14px; top: 14px;
}
input[type="submit"]:hover:after { right: 21px; }
.forgot { font-style: italic; color: #7f7f7f; font-size: 12px; }

#existing_album,
#new_album { position: relative; width: 50%; display: block; margin: 0 auto; }
#existing_album input,
#new_album input {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}
#top::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.8); }
#top:-moz-placeholder { color: rgba(255, 255, 255, 0.8); }
#top::-moz-placeholder { color: rgba(255, 255, 255, 0.8); }
#top:-ms-input-placeholder { color: rgba(255, 255, 255, 0.8); }
#existing_album input[type="submit"],
#new_album input[type="submit"] {
  color: rgba(255, 255, 255, 0.8);
  top: 0; right: 0; left: auto;
  width: auto;
  float: right;
  padding: 14px 28px;
  background: transparent;
  z-index: 10;
  opacity: 0;
}
#existing_album:after,
#new_album:after {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 8px; right: 21px;
  font-size: 28px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.left:hover #existing_album:after,
.right:hover #new_album:after { opacity: 1; }
#existing_album:hover:after,
#new_album:hover:after { right: 14px; }
.left .error,
.right .error,
#MainContent_LabelLoginError {
  display: inline-block;
  clear: both;
  width: 100%; text-align: center;
  font-weight: bold; color: rgba(0, 0, 0, 0.4); font-size: 21px;
}